/* style pour le bandeau du bas*/
header
{
	position: fixed ;
	right : 0; left:0 ; top:0;
}

#bandeau_du_bas
{
	display: flex;
	justify-content: space-between;
	align-items: center ;
	background-color: #534e4e;
	box-shadow: 6px 6px 6px black inset;
	z-index:1;
	height: 60px;
}


.logo:hover
{
	border-style:solid;
	border-width:2px ;
	border-color: black;
	box-shadow: 10px 5px 20px black ;
	padding:0px;
}

.logo
{
	width: 60px;
	height:60px;
	z-index: 2;
}

#menu ul 
{
	list-style-type: none ;
	display: flex;
}

#menu  li
{
	margin-right: 50px;
	font-size : 20px;
}

#menu a
{
	text-decoration: none ;
}

#menu a:hover
{
	text-decoration : underline;
}


/*style pour le bandeau du haut*/

#bandeau_du_haut
{
	background-color: #858484;
	display: flex;
	justify-content: flex-end;
	align-items : center;
	height: 40px;
}

#connexion_inscription
{
	display : flex ;
}

#connexion_inscription li
{
	font-size : 20px;
	margin-right: 50px;
	list-style-type: none ;
}

#connexion_inscription li a:hover
{
	text-decoration : underline;
}

a
{
	text-decoration: none ;
	color: white;
	font-family: 'Trebuchet MS', Arial, sans-serif;
}

section
{
	padding : 10%;
}